<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>フォーム</title>
  </head>
  <body>
    <form action="/save" method="post">
      コメント： <input type="text" name="msg">
      <input type="submit" value="送信だにゃ~">
      <a href="/logout">ログアウト</a>
    </form>
  </body>
</html>
